@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.main_frame{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width: 100%;
    text-align:center;
    margin:0 auto;
    background:#2D2D2D;
}
body{
    margin:0;
    background:#2D2D2D;
    scroll-behavior: smooth;
    font-size:30px;
}
.text{
    color:#C9C9C9;
    font-size: 0.5em;
    margin-top:55px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400px;
    transition:1s all;
    cursor:pointer;
}
.text:hover{
    color:white;
}
.text_frame{
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    height: 100px;
}

.main_info{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 724px;


}
.global_info{
    display:flex;
    justify-content:flex-end;
    width: 100%;
    height: 458px;
    margin-top:102px;

}
.title_text{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    height: 228px;
    font-size:1.5em;
    font-family: 'Russo One', sans-serif;
    color:white;
}
.small_func{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width: 100%;
    height: 140px;
    align-self:flex-end;

}
.hire{
    display:flex;
    align-items:center;
    color:white;
    justify-content:center;
    width: 40%;
    height: 60px;
    background: #7996FC;
    border-radius:10px;
    font-family: 'Russo One', sans-serif;
    font-size:0.7em;
    transition:1s all;
    cursor:pointer;
}
.hire:hover{    
    box-shadow: 10px 10px 100px white;
    background:#F1A661;
    color:#FDEEDC;
}
.portf{
    display:flex;
    align-items:center;
    color:white;
    justify-content:center;
    width: 40%;
    height: 60px;
    background: #414141;
    border-radius:10px;
    font-family: 'Russo One', sans-serif;
    font-size:0.9em;
    transition: 1s all;
    cursor:pointer;
}
.portf:hover{
    box-shadow: 10px 10px 100px white;
    background:#FDEEDC;
    color:#E38B29;

}
.telegram{
display:flex;
justify-content:center;
align-items:center;
width: 100%;
height: 60px;
color:white;
cursor:pointer;
background: #414141;
border-radius:10px;
font-family: 'Russo One', sans-serif;
font-size:0.9em;
transition: 1s all;
}
.telegram:hover{
    box-shadow: 10px 10px 100px white;
    background:#FDEEDC;
    color:#E38B29;
}
.photo_frame{
    display:flex;
    justify-content:center;
    width: 100%;
    margin-top:150px;

}
.photo_bg{
    display:flex;
    justify-content:center;
    align-items:center;
    background: #FFFFFF;
    box-shadow:10px 10px 100px lightblue;
    width: 340px;
    height: 340px;
    border-radius:100px;
    rotate:45deg;

}
.some_info{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 316px;
    margin-top:170px;
    color:white;

}
.top_title{
    display:block;
    width: 264px;
    height: 52px;
    font-weight:300px;
    font-size:1.2em;
    color: #C9C9C9;
    
    
}
.main_text{
    display:flex;
    justify-content:center;
    font-family: 'Russo One', sans-serif;
    margin-top:10px;
    font-weight:500px;
    font-size:0.8em;
    line-height: 60.69px;
}
.portfolio{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Russo One', sans-serif;
    margin-top:300px;
    width: 100%;
    height: 500px;


}
.title{
    display:flex;
    align-self:flex-start;
    color:white;
    font-weight:700px;
    font-size:48px;
    margin-top:90px;
    margin-bottom:30px;
}
img{
    width: 70%;
    height: 254px;
    border-radius: 10px;
    box-shadow:0px 0px 100px lightblue;
    border: 10px double white;
}

.img_text{

    font-size: 35px;
    color:white;
}
.img_container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap:40px 0;
    align-items:center;
    background:#2D2D2D;
    width: 100%;
    height: 1000px;

}
.more_info{
    display:flex;
    align-content:center;
    justify-content:center;
    flex-wrap:wrap;
    color:white;
    margin-top:150%;

    font-size:0.8em;
    width: 100%;
    height: 300px;
    font-family: 'Russo One', sans-serif;
    gap:10px 10px;

}
.see_more{
    text-align: center;
    line-height: 60px;
    vertical-align: center;
    width: 250px;
    height: 60px;
    font-size:0.8em;
}
.github{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 250px;
    height: 60px;
    background: #414141;
    border-radius:10px;
    transition: 1s all;
}
.github:hover{    
    box-shadow: 10px 10px 100px white;
    background:#FDEEDC;
    
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:#F1A661;
}
.freelance{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 250px;
    background: #7996FC;
    height: 60px;
    border-radius:10px;
    transition: 1s all;
    cursor:pointer;
}
.freelance:hover{    
    box-shadow: 10px 10px 100px white;
    background:#F1A661;
    color:#CFDEED;
}
.figma{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 250px;
    background: #414141;
    height: 60px;
    border-radius:10px;
    transition: 1s all;
    cursor:pointer;
}
.figma:hover{    
    box-shadow: 10px 10px 100px white;
    background:#CFDEED;
    color:#F1A661;
}

.references{
    display:flex;
    width: 100%;
    margin-top:50px;
    justify-content:center;
    align-items:center;
    height: 289px;
    color:white;
    font-size: 1.1em;
    font-family: 'Russo One', sans-serif;
}
.ref_text{
    align-self:flex-start;
    width: 200px;
    height: 40px;

}
.ref{
    position:absolute;
    width: 360px;
    height: 180px;
    background: #414141;
    border-radius:10px;
    cursor:pointer;
    transition:all 1s;
}
.ref:hover{
    box-shadow: 0px 0px 100px white;
}
.plus{
    font-size: 80px;
    transition:1.5s all;
}
.ref:hover .plus{
    rotate:360deg;
    font-size:100px;
}
.page_end{
    display:flex;
    justify-content:center;
    width: 1440px;
    height: 200px;
    background: #414141;
    border-radius: 20px 20px 0px 0px;
    margin-top:100px;
}
.left_info{
    display:flex;
    width: 210px;
    height: 200px;
    color:white;
    font-size:24px;
    flex-direction:column;
    justify-content:space-around;
}
.text1{
    margin-top:10px;
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
}
.img{
    rotate:315deg;
    border-radius: 100%;
}
@media(min-width: 600px){
    .main_frame{
        width: 1440px;
    }

    .text_frame{
        font-size:50px;
    }
    
    .main_info{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width: 100%;
        height: 724px;
    
    
    }
    .global_info{
        width: 500px;
        align-self:flex-end;
        margin-right:200px;
        height: 600px;
    }
    .title_text{
        height: 228px;
        margin-top:100px;
    }

    .small_func{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        width: 500px;
        margin-right:200px;
        height: 140px;
        align-self:flex-end;
        gap: 10px 10px;
    
    }
    .hire{
        width: 240px;
    }
    .portf{
        width: 240px;
    }
    .photo_bg{
        width: 440px;
        height: 440px;
     align-self:flex-start;
     margin-left:-650px;
     margin-top:-500px;
    
    }
    .some_info{
        display:flex;

        width: 800px;
        height: 316px;
        margin-bottom:-100px;
        color:white;
    
    }

    .title{
        display:flex;
        align-self:flex-start;
        color:white;
        font-weight:700px;
        font-size:48px;
        margin-top:90px;
        margin-bottom:30px;
    }
    img{
        width: 500px;
        height: 254px;
    }
    .more_info{
        margin-top:700px;
    }
    .last{
        margin-top:30px;
    }
}